.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: calc((100vw - 320px)/(1920 - 320) * (104 - 50) + 50px);
  padding-top: calc((100vw - 320px)/(1920 - 320) * (35 - 30) + 30px);
}

.background {
  background-color: #79FF91;
  padding-bottom: 1px;
  padding-top: 30px;
  padding-right: 8px;
  padding-left: 8px;
}

.spoiler {
  color: #BEBEDA;
  font-family: Mont;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-align: center;
}

.title {
  color: #282882;
  font-family: Test Domaine Text;
  font-size: 55px;
  font-style: normal;
  font-size: calc((100vw - 320px)/(1920 - 320) * (55 - 32) + 32px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; 
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: calc((100vw - 320px)/(1920 - 320) * (39 - 20) + 20px);
  text-align: center;
}

.sub_title {
  color: #4E4E4E;
  font-family: Mont;
  font-size: calc((100vw - 320px)/(1920 - 320) * (18 - 12) + 12px);
  font-style: normal;
  font-weight: 200;
  line-height: 26.1px; 
  margin: 22px 0 70px;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  margin-bottom: calc((100vw - 320px)/(1920 - 320) * (40 - 30) + 30px);
}

.process_container {
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 18px;
  row-gap: 23px;
  max-width: 1387px;
  /* width: calc((100vw - 320px)/(1920 - 320) * (1387 - 382) + 382px); */
}

.process_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #F9F9F9;
  box-shadow: 0px 8px 26px 0px rgba(203, 184, 184, 0.19);
  padding: 50px 37px;
  box-sizing: border-box;
  gap: 25px;
}

.number_curcle {
  color: #444;
  font-family: Test Domaine Text;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 98px; /* 158.065% */
  width: 116px;
  height: 116px;
  min-width: 116px;
  min-height: 116px;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #FFC0B4;
  position: relative;

}

.number_curcle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.process_item_title {
  flex: 1;
  color: #282882;
  font-family: Test Domaine Text;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.3px; /* 113.75% */
  text-transform: uppercase;
  text-align: left;
  margin: 0;

}

.process_item_sub_title {
  flex: 0 0 46%; 
  color: #4E4E4E;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.1px;
  text-align: left;
  margin: 0;
}

.button_container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: calc((100vw - 320px)/(1920 - 320) * (60 - 30) + 30px);
  gap: 29px;
  list-style: none;
}

.button_container_item {
  color: #EC5E43;
  text-align: center;
  font-family: Mont;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 46px;
  width: 290px;
  height: 75px;
  border: 1px solid #EC5E43;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-out;
}

.button_container_item:hover {
  background: #EC5E43;
  color:  #fff;
}

.link {
  text-decoration: none;
  color: #EC5E43;
}

.button_container_item:hover .link {
  color: white;
}

.wrapper {
  width: calc((100vw - 320px)/(1920 - 320) * (600 - 300) + 300px);
  display: none !important;
}



@media (max-width: 1024px) {

 .button_container {
  flex-direction: column;
 }

}

@media (max-width: 860px) {

  .process_item {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;

  }

 .button_container {
  flex-direction: column;
 }

}

