.wiki_title {
	color: #282882;
	font-family: "TestDomaineText", Arial, Helvetica, sans-serif;
	font-size: calc((100vw - 320px) / (1920 - 320) * (32 - 26) + 26px);
	font-weight: 700;
	line-height: 70px;
}
.wiki_subtitle {
	color: #4e4e4e;
	font-family: "Inter",  Arial, Helvetica, sans-serif;
	font-size: calc((100vw - 320px) / (1920 - 320) * (20 - 16) + 16px);
	line-height: 26px;
	margin-bottom: 15px;
}
