.background {
  background: #79FF91;
  padding-top: 50px;
  padding-bottom: 1px;
}

.spoiler {
  color: #30D94E;
  text-align: center;
  font-family: Mont;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.1px; /* 145% */
  text-transform: uppercase;

}

.function_container {
  margin-top: 50px;
  padding-bottom: 50px;
}

.function_slider_wrapper {
  margin-bottom: 30px;
  /* padding-bottom: 20px; */
  /* background-color: aqua; */
}