.background {
  background: #79FF91;
  padding-top: 50px;
  padding-bottom: 1px;
}

.function_container {
  margin-top: 50px;
  padding-bottom: 50px;
}

.function_slider_wrapper {
  margin-bottom: 30px;
  /* padding-bottom: 20px; */
  /* background-color: aqua; */
}